Handlebars.registerHelper('ifGreaterThanOne', function(num, options) {
if (num > 1) {
return options.fn(this);
} else {
return options.inverse(this);
}
});

<div class="create-review pop-up" id="create-review">

    <div>
        <button type="button" class="close-button" id="close-create-review">X</button>
    </div>

    <div class="create-review-body">
        <div>The<br/>Condo<br/>Bro<br/></div>
        <div><h1>{{{data.name}}}</h1></div>
        

        <form id="create-review-form" name="create-review-form" method="post">
            <div>
                <input type="text" placeholder="Title of Review" id="review-title" name="review-title">
            </div>
            <div>
                <textarea rows="7" placeholder="Write your review" id="review-content" name="new-content"></textarea>
            </div>
            <div class="star-rating" id="rating">
                <button type="button" class="star-rating-button" data-rating="1" aria-label="Rate 1" tabindex="0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ipc-icon icon-star star star-active" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                        <path d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path>
                    </svg>
                </button>
                <button type="button" class="star-rating-button" data-rating="2" aria-label="Rate 2" tabindex="0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ipc-icon icon-star star star-active" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                        <path d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path>
                    </svg>
                </button>
                <button type="button" class="star-rating-button" data-rating="3" aria-label="Rate 3" tabindex="0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ipc-icon icon-star star star-active" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                        <path d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path>
                    </svg>
                </button>
                <button type="button" class="star-rating-button" data-rating="4" aria-label="Rate 4" tabindex="0">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ipc-icon icon-star star star-active" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                        <path d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path>
                    </svg>
                </button>
                <button type="button" class="star-rating-button" data-rating="5" aria-label="Rate 5" tabindex="0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="ipc-icon icon-star star star-active" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                        <path d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path>
                    </svg>
                </button>
            </div>
            <div>
                <p>Add Image (optional)</p>
                <input type="file" id="add-image" accept="image/*" name="filename">
            </div>
            <div>
                <button id="review-submit-button" type="submit" class="submit">Submit</button>
            </div>
        </form> 
    </div>
</div>

<div class="review-button-container">
    <button class="review-button" type="button" id="show-create-review"><img src="../images/review-btn.png"/></button>
</div>


<div class="main-image">
    <img src="{{data.img}}"/>
</div>

<div class="main-body">
    <div class="main-left">
        <div class="condo-name">
            <h1>{{{data.name}}}</h1>
        </div>
        <div class="condo-address"><h2>{{data.address}}</h2></div>
        <div class="line"></div><br/><br/>
        <div class="stars">
                <svg xmlns="http://www.w3.org/2000/svg" class="star-on" viewBox="0 0 101 101">
                <path d="M43.3765 30.3838C46.0786 23.6476 47.4296 20.2794 49.6246 19.8126C50.2017 19.6899 50.7982 19.6899 51.3754 19.8126C53.5704 20.2794 54.9214 23.6476 57.6234 30.3838C59.1601 34.2145 59.9284 36.1299 61.366 37.4327C61.7692 37.7981 62.2069 38.1235 62.673 38.4044C64.3346 39.4059 66.4089 39.5917 70.5574 39.9632C77.5801 40.5922 81.0914 40.9066 82.1637 42.9087C82.3858 43.3234 82.5368 43.7723 82.6104 44.2369C82.9659 46.48 80.3845 48.8285 75.2218 53.5256L73.7881 54.8299C71.3745 57.0258 70.1676 58.1238 69.4696 59.494C69.0509 60.316 68.7701 61.2012 68.6385 62.1143C68.4192 63.6363 68.7726 65.2292 69.4794 68.4148L69.732 69.553C70.9995 75.266 71.6333 78.1224 70.8421 79.5265C70.1315 80.7877 68.8225 81.5951 67.3765 81.6642C65.7667 81.741 63.4985 79.8928 58.962 76.1962C55.9732 73.7607 54.4788 72.543 52.8199 72.0673C51.3038 71.6326 49.6961 71.6326 48.1801 72.0673C46.5211 72.543 45.0267 73.7607 42.0379 76.1962C37.5014 79.8928 35.2332 81.741 33.6234 81.6642C32.1774 81.5951 30.8685 80.7877 30.1578 79.5265C29.3667 78.1224 30.0004 75.266 31.268 69.553L31.5205 68.4148C32.2273 65.2292 32.5807 63.6363 32.3614 62.1143C32.2299 61.2012 31.9491 60.316 31.5304 59.494C30.8323 58.1238 29.6255 57.0258 27.2118 54.8299L25.7781 53.5256C20.6154 48.8285 18.034 46.48 18.3895 44.2369C18.4632 43.7723 18.6141 43.3234 18.8362 42.9087C19.9085 40.9066 23.4199 40.5922 30.4426 39.9632C34.5911 39.5917 36.6653 39.4059 38.3269 38.4044C38.793 38.1235 39.2307 37.7981 39.634 37.4327C41.0716 36.1299 41.8399 34.2145 43.3765 30.3838Z"/>
                </svg>
            {{#star2 data.rating}}
                <svg xmlns="http://www.w3.org/2000/svg" class="star-on" viewBox="0 0 101 101">
                    <path d="M43.3765 30.3838C46.0786 23.6476 47.4296 20.2794 49.6246 19.8126C50.2017 19.6899 50.7982 19.6899 51.3754 19.8126C53.5704 20.2794 54.9214 23.6476 57.6234 30.3838C59.1601 34.2145 59.9284 36.1299 61.366 37.4327C61.7692 37.7981 62.2069 38.1235 62.673 38.4044C64.3346 39.4059 66.4089 39.5917 70.5574 39.9632C77.5801 40.5922 81.0914 40.9066 82.1637 42.9087C82.3858 43.3234 82.5368 43.7723 82.6104 44.2369C82.9659 46.48 80.3845 48.8285 75.2218 53.5256L73.7881 54.8299C71.3745 57.0258 70.1676 58.1238 69.4696 59.494C69.0509 60.316 68.7701 61.2012 68.6385 62.1143C68.4192 63.6363 68.7726 65.2292 69.4794 68.4148L69.732 69.553C70.9995 75.266 71.6333 78.1224 70.8421 79.5265C70.1315 80.7877 68.8225 81.5951 67.3765 81.6642C65.7667 81.741 63.4985 79.8928 58.962 76.1962C55.9732 73.7607 54.4788 72.543 52.8199 72.0673C51.3038 71.6326 49.6961 71.6326 48.1801 72.0673C46.5211 72.543 45.0267 73.7607 42.0379 76.1962C37.5014 79.8928 35.2332 81.741 33.6234 81.6642C32.1774 81.5951 30.8685 80.7877 30.1578 79.5265C29.3667 78.1224 30.0004 75.266 31.268 69.553L31.5205 68.4148C32.2273 65.2292 32.5807 63.6363 32.3614 62.1143C32.2299 61.2012 31.9491 60.316 31.5304 59.494C30.8323 58.1238 29.6255 57.0258 27.2118 54.8299L25.7781 53.5256C20.6154 48.8285 18.034 46.48 18.3895 44.2369C18.4632 43.7723 18.6141 43.3234 18.8362 42.9087C19.9085 40.9066 23.4199 40.5922 30.4426 39.9632C34.5911 39.5917 36.6653 39.4059 38.3269 38.4044C38.793 38.1235 39.2307 37.7981 39.634 37.4327C41.0716 36.1299 41.8399 34.2145 43.3765 30.3838Z"/>
                </svg>
            {{else}}
                <svg xmlns="http://www.w3.org/2000/svg" class="star-off" viewBox="0 0 101 101">
                    <path d="M43.3765 30.3838C46.0786 23.6476 47.4296 20.2794 49.6246 19.8126C50.2017 19.6899 50.7982 19.6899 51.3754 19.8126C53.5704 20.2794 54.9214 23.6476 57.6234 30.3838C59.1601 34.2145 59.9284 36.1299 61.366 37.4327C61.7692 37.7981 62.2069 38.1235 62.673 38.4044C64.3346 39.4059 66.4089 39.5917 70.5574 39.9632C77.5801 40.5922 81.0914 40.9066 82.1637 42.9087C82.3858 43.3234 82.5368 43.7723 82.6104 44.2369C82.9659 46.48 80.3845 48.8285 75.2218 53.5256L73.7881 54.8299C71.3745 57.0258 70.1676 58.1238 69.4696 59.494C69.0509 60.316 68.7701 61.2012 68.6385 62.1143C68.4192 63.6363 68.7726 65.2292 69.4794 68.4148L69.732 69.553C70.9995 75.266 71.6333 78.1224 70.8421 79.5265C70.1315 80.7877 68.8225 81.5951 67.3765 81.6642C65.7667 81.741 63.4985 79.8928 58.962 76.1962C55.9732 73.7607 54.4788 72.543 52.8199 72.0673C51.3038 71.6326 49.6961 71.6326 48.1801 72.0673C46.5211 72.543 45.0267 73.7607 42.0379 76.1962C37.5014 79.8928 35.2332 81.741 33.6234 81.6642C32.1774 81.5951 30.8685 80.7877 30.1578 79.5265C29.3667 78.1224 30.0004 75.266 31.268 69.553L31.5205 68.4148C32.2273 65.2292 32.5807 63.6363 32.3614 62.1143C32.2299 61.2012 31.9491 60.316 31.5304 59.494C30.8323 58.1238 29.6255 57.0258 27.2118 54.8299L25.7781 53.5256C20.6154 48.8285 18.034 46.48 18.3895 44.2369C18.4632 43.7723 18.6141 43.3234 18.8362 42.9087C19.9085 40.9066 23.4199 40.5922 30.4426 39.9632C34.5911 39.5917 36.6653 39.4059 38.3269 38.4044C38.793 38.1235 39.2307 37.7981 39.634 37.4327C41.0716 36.1299 41.8399 34.2145 43.3765 30.3838Z"/>
                </svg>
            {{/star2}}
            {{#star3 data.rating}}
                <svg xmlns="http://www.w3.org/2000/svg" class="star-on" viewBox="0 0 101 101">
                    <path d="M43.3765 30.3838C46.0786 23.6476 47.4296 20.2794 49.6246 19.8126C50.2017 19.6899 50.7982 19.6899 51.3754 19.8126C53.5704 20.2794 54.9214 23.6476 57.6234 30.3838C59.1601 34.2145 59.9284 36.1299 61.366 37.4327C61.7692 37.7981 62.2069 38.1235 62.673 38.4044C64.3346 39.4059 66.4089 39.5917 70.5574 39.9632C77.5801 40.5922 81.0914 40.9066 82.1637 42.9087C82.3858 43.3234 82.5368 43.7723 82.6104 44.2369C82.9659 46.48 80.3845 48.8285 75.2218 53.5256L73.7881 54.8299C71.3745 57.0258 70.1676 58.1238 69.4696 59.494C69.0509 60.316 68.7701 61.2012 68.6385 62.1143C68.4192 63.6363 68.7726 65.2292 69.4794 68.4148L69.732 69.553C70.9995 75.266 71.6333 78.1224 70.8421 79.5265C70.1315 80.7877 68.8225 81.5951 67.3765 81.6642C65.7667 81.741 63.4985 79.8928 58.962 76.1962C55.9732 73.7607 54.4788 72.543 52.8199 72.0673C51.3038 71.6326 49.6961 71.6326 48.1801 72.0673C46.5211 72.543 45.0267 73.7607 42.0379 76.1962C37.5014 79.8928 35.2332 81.741 33.6234 81.6642C32.1774 81.5951 30.8685 80.7877 30.1578 79.5265C29.3667 78.1224 30.0004 75.266 31.268 69.553L31.5205 68.4148C32.2273 65.2292 32.5807 63.6363 32.3614 62.1143C32.2299 61.2012 31.9491 60.316 31.5304 59.494C30.8323 58.1238 29.6255 57.0258 27.2118 54.8299L25.7781 53.5256C20.6154 48.8285 18.034 46.48 18.3895 44.2369C18.4632 43.7723 18.6141 43.3234 18.8362 42.9087C19.9085 40.9066 23.4199 40.5922 30.4426 39.9632C34.5911 39.5917 36.6653 39.4059 38.3269 38.4044C38.793 38.1235 39.2307 37.7981 39.634 37.4327C41.0716 36.1299 41.8399 34.2145 43.3765 30.3838Z"/>
                </svg>
            {{else}}
                <svg xmlns="http://www.w3.org/2000/svg" class="star-off" viewBox="0 0 101 101">
                    <path d="M43.3765 30.3838C46.0786 23.6476 47.4296 20.2794 49.6246 19.8126C50.2017 19.6899 50.7982 19.6899 51.3754 19.8126C53.5704 20.2794 54.9214 23.6476 57.6234 30.3838C59.1601 34.2145 59.9284 36.1299 61.366 37.4327C61.7692 37.7981 62.2069 38.1235 62.673 38.4044C64.3346 39.4059 66.4089 39.5917 70.5574 39.9632C77.5801 40.5922 81.0914 40.9066 82.1637 42.9087C82.3858 43.3234 82.5368 43.7723 82.6104 44.2369C82.9659 46.48 80.3845 48.8285 75.2218 53.5256L73.7881 54.8299C71.3745 57.0258 70.1676 58.1238 69.4696 59.494C69.0509 60.316 68.7701 61.2012 68.6385 62.1143C68.4192 63.6363 68.7726 65.2292 69.4794 68.4148L69.732 69.553C70.9995 75.266 71.6333 78.1224 70.8421 79.5265C70.1315 80.7877 68.8225 81.5951 67.3765 81.6642C65.7667 81.741 63.4985 79.8928 58.962 76.1962C55.9732 73.7607 54.4788 72.543 52.8199 72.0673C51.3038 71.6326 49.6961 71.6326 48.1801 72.0673C46.5211 72.543 45.0267 73.7607 42.0379 76.1962C37.5014 79.8928 35.2332 81.741 33.6234 81.6642C32.1774 81.5951 30.8685 80.7877 30.1578 79.5265C29.3667 78.1224 30.0004 75.266 31.268 69.553L31.5205 68.4148C32.2273 65.2292 32.5807 63.6363 32.3614 62.1143C32.2299 61.2012 31.9491 60.316 31.5304 59.494C30.8323 58.1238 29.6255 57.0258 27.2118 54.8299L25.7781 53.5256C20.6154 48.8285 18.034 46.48 18.3895 44.2369C18.4632 43.7723 18.6141 43.3234 18.8362 42.9087C19.9085 40.9066 23.4199 40.5922 30.4426 39.9632C34.5911 39.5917 36.6653 39.4059 38.3269 38.4044C38.793 38.1235 39.2307 37.7981 39.634 37.4327C41.0716 36.1299 41.8399 34.2145 43.3765 30.3838Z"/>
                </svg>
            {{/star3}}
            {{#star4 data.rating}}
                <svg xmlns="http://www.w3.org/2000/svg" class="star-on" viewBox="0 0 101 101">
                    <path d="M43.3765 30.3838C46.0786 23.6476 47.4296 20.2794 49.6246 19.8126C50.2017 19.6899 50.7982 19.6899 51.3754 19.8126C53.5704 20.2794 54.9214 23.6476 57.6234 30.3838C59.1601 34.2145 59.9284 36.1299 61.366 37.4327C61.7692 37.7981 62.2069 38.1235 62.673 38.4044C64.3346 39.4059 66.4089 39.5917 70.5574 39.9632C77.5801 40.5922 81.0914 40.9066 82.1637 42.9087C82.3858 43.3234 82.5368 43.7723 82.6104 44.2369C82.9659 46.48 80.3845 48.8285 75.2218 53.5256L73.7881 54.8299C71.3745 57.0258 70.1676 58.1238 69.4696 59.494C69.0509 60.316 68.7701 61.2012 68.6385 62.1143C68.4192 63.6363 68.7726 65.2292 69.4794 68.4148L69.732 69.553C70.9995 75.266 71.6333 78.1224 70.8421 79.5265C70.1315 80.7877 68.8225 81.5951 67.3765 81.6642C65.7667 81.741 63.4985 79.8928 58.962 76.1962C55.9732 73.7607 54.4788 72.543 52.8199 72.0673C51.3038 71.6326 49.6961 71.6326 48.1801 72.0673C46.5211 72.543 45.0267 73.7607 42.0379 76.1962C37.5014 79.8928 35.2332 81.741 33.6234 81.6642C32.1774 81.5951 30.8685 80.7877 30.1578 79.5265C29.3667 78.1224 30.0004 75.266 31.268 69.553L31.5205 68.4148C32.2273 65.2292 32.5807 63.6363 32.3614 62.1143C32.2299 61.2012 31.9491 60.316 31.5304 59.494C30.8323 58.1238 29.6255 57.0258 27.2118 54.8299L25.7781 53.5256C20.6154 48.8285 18.034 46.48 18.3895 44.2369C18.4632 43.7723 18.6141 43.3234 18.8362 42.9087C19.9085 40.9066 23.4199 40.5922 30.4426 39.9632C34.5911 39.5917 36.6653 39.4059 38.3269 38.4044C38.793 38.1235 39.2307 37.7981 39.634 37.4327C41.0716 36.1299 41.8399 34.2145 43.3765 30.3838Z"/>
                </svg>
            {{else}}
                <svg xmlns="http://www.w3.org/2000/svg" class="star-off" viewBox="0 0 101 101">
                    <path d="M43.3765 30.3838C46.0786 23.6476 47.4296 20.2794 49.6246 19.8126C50.2017 19.6899 50.7982 19.6899 51.3754 19.8126C53.5704 20.2794 54.9214 23.6476 57.6234 30.3838C59.1601 34.2145 59.9284 36.1299 61.366 37.4327C61.7692 37.7981 62.2069 38.1235 62.673 38.4044C64.3346 39.4059 66.4089 39.5917 70.5574 39.9632C77.5801 40.5922 81.0914 40.9066 82.1637 42.9087C82.3858 43.3234 82.5368 43.7723 82.6104 44.2369C82.9659 46.48 80.3845 48.8285 75.2218 53.5256L73.7881 54.8299C71.3745 57.0258 70.1676 58.1238 69.4696 59.494C69.0509 60.316 68.7701 61.2012 68.6385 62.1143C68.4192 63.6363 68.7726 65.2292 69.4794 68.4148L69.732 69.553C70.9995 75.266 71.6333 78.1224 70.8421 79.5265C70.1315 80.7877 68.8225 81.5951 67.3765 81.6642C65.7667 81.741 63.4985 79.8928 58.962 76.1962C55.9732 73.7607 54.4788 72.543 52.8199 72.0673C51.3038 71.6326 49.6961 71.6326 48.1801 72.0673C46.5211 72.543 45.0267 73.7607 42.0379 76.1962C37.5014 79.8928 35.2332 81.741 33.6234 81.6642C32.1774 81.5951 30.8685 80.7877 30.1578 79.5265C29.3667 78.1224 30.0004 75.266 31.268 69.553L31.5205 68.4148C32.2273 65.2292 32.5807 63.6363 32.3614 62.1143C32.2299 61.2012 31.9491 60.316 31.5304 59.494C30.8323 58.1238 29.6255 57.0258 27.2118 54.8299L25.7781 53.5256C20.6154 48.8285 18.034 46.48 18.3895 44.2369C18.4632 43.7723 18.6141 43.3234 18.8362 42.9087C19.9085 40.9066 23.4199 40.5922 30.4426 39.9632C34.5911 39.5917 36.6653 39.4059 38.3269 38.4044C38.793 38.1235 39.2307 37.7981 39.634 37.4327C41.0716 36.1299 41.8399 34.2145 43.3765 30.3838Z"/>
                </svg>
            {{/star4}}
            {{#star5 data.rating}}
                <svg xmlns="http://www.w3.org/2000/svg" class="star-on" viewBox="0 0 101 101">
                    <path d="M43.3765 30.3838C46.0786 23.6476 47.4296 20.2794 49.6246 19.8126C50.2017 19.6899 50.7982 19.6899 51.3754 19.8126C53.5704 20.2794 54.9214 23.6476 57.6234 30.3838C59.1601 34.2145 59.9284 36.1299 61.366 37.4327C61.7692 37.7981 62.2069 38.1235 62.673 38.4044C64.3346 39.4059 66.4089 39.5917 70.5574 39.9632C77.5801 40.5922 81.0914 40.9066 82.1637 42.9087C82.3858 43.3234 82.5368 43.7723 82.6104 44.2369C82.9659 46.48 80.3845 48.8285 75.2218 53.5256L73.7881 54.8299C71.3745 57.0258 70.1676 58.1238 69.4696 59.494C69.0509 60.316 68.7701 61.2012 68.6385 62.1143C68.4192 63.6363 68.7726 65.2292 69.4794 68.4148L69.732 69.553C70.9995 75.266 71.6333 78.1224 70.8421 79.5265C70.1315 80.7877 68.8225 81.5951 67.3765 81.6642C65.7667 81.741 63.4985 79.8928 58.962 76.1962C55.9732 73.7607 54.4788 72.543 52.8199 72.0673C51.3038 71.6326 49.6961 71.6326 48.1801 72.0673C46.5211 72.543 45.0267 73.7607 42.0379 76.1962C37.5014 79.8928 35.2332 81.741 33.6234 81.6642C32.1774 81.5951 30.8685 80.7877 30.1578 79.5265C29.3667 78.1224 30.0004 75.266 31.268 69.553L31.5205 68.4148C32.2273 65.2292 32.5807 63.6363 32.3614 62.1143C32.2299 61.2012 31.9491 60.316 31.5304 59.494C30.8323 58.1238 29.6255 57.0258 27.2118 54.8299L25.7781 53.5256C20.6154 48.8285 18.034 46.48 18.3895 44.2369C18.4632 43.7723 18.6141 43.3234 18.8362 42.9087C19.9085 40.9066 23.4199 40.5922 30.4426 39.9632C34.5911 39.5917 36.6653 39.4059 38.3269 38.4044C38.793 38.1235 39.2307 37.7981 39.634 37.4327C41.0716 36.1299 41.8399 34.2145 43.3765 30.3838Z"/>
                </svg>
            {{else}}
                <svg xmlns="http://www.w3.org/2000/svg" class="star-off" viewBox="0 0 101 101">
                    <path d="M43.3765 30.3838C46.0786 23.6476 47.4296 20.2794 49.6246 19.8126C50.2017 19.6899 50.7982 19.6899 51.3754 19.8126C53.5704 20.2794 54.9214 23.6476 57.6234 30.3838C59.1601 34.2145 59.9284 36.1299 61.366 37.4327C61.7692 37.7981 62.2069 38.1235 62.673 38.4044C64.3346 39.4059 66.4089 39.5917 70.5574 39.9632C77.5801 40.5922 81.0914 40.9066 82.1637 42.9087C82.3858 43.3234 82.5368 43.7723 82.6104 44.2369C82.9659 46.48 80.3845 48.8285 75.2218 53.5256L73.7881 54.8299C71.3745 57.0258 70.1676 58.1238 69.4696 59.494C69.0509 60.316 68.7701 61.2012 68.6385 62.1143C68.4192 63.6363 68.7726 65.2292 69.4794 68.4148L69.732 69.553C70.9995 75.266 71.6333 78.1224 70.8421 79.5265C70.1315 80.7877 68.8225 81.5951 67.3765 81.6642C65.7667 81.741 63.4985 79.8928 58.962 76.1962C55.9732 73.7607 54.4788 72.543 52.8199 72.0673C51.3038 71.6326 49.6961 71.6326 48.1801 72.0673C46.5211 72.543 45.0267 73.7607 42.0379 76.1962C37.5014 79.8928 35.2332 81.741 33.6234 81.6642C32.1774 81.5951 30.8685 80.7877 30.1578 79.5265C29.3667 78.1224 30.0004 75.266 31.268 69.553L31.5205 68.4148C32.2273 65.2292 32.5807 63.6363 32.3614 62.1143C32.2299 61.2012 31.9491 60.316 31.5304 59.494C30.8323 58.1238 29.6255 57.0258 27.2118 54.8299L25.7781 53.5256C20.6154 48.8285 18.034 46.48 18.3895 44.2369C18.4632 43.7723 18.6141 43.3234 18.8362 42.9087C19.9085 40.9066 23.4199 40.5922 30.4426 39.9632C34.5911 39.5917 36.6653 39.4059 38.3269 38.4044C38.793 38.1235 39.2307 37.7981 39.634 37.4327C41.0716 36.1299 41.8399 34.2145 43.3765 30.3838Z"/>
                </svg>
            {{/star5}}

        </div>
        <div class="rating">
            <p><b>{{data.rating}}</b> out of <b>5</b></p>
        </div>
        <div class="brief-bg">
            <p>{{data.description}}</p>
        </div>
    </div>
    <div class="main-right">
        <div class="review-title">
            <h2>LATEST REVIEWS</h2>
        </div>

        <div>
            <form id="search-review" name="search-review" method="post">

                <input  id="search-review-input" name="search-review-input" type="text" placeholder="Search review by word/phrase"></input>
                <button class="comment-button" type="submit">Search</button>
            </form>
            
        </div>
        
        <div class="reviews-container">
            {{#each reviews}}
            <div id="{{_id}}" class="grid-item">
                <div class="review-header">
                    <div class="review-header-left">
                        <h3>{{title}}</h3>{{#if isEdited}}<i>Edited</i>{{/if}}
                        Posted on {{date}}
                    </div>
                    <div>
                        <div class="star-rating" id="rating">
                            {{#each rating}}
                                {{#if this}}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="star-on" viewBox="0 0 24 24" role="presentation">
                                        <path d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path>
                                    </svg>
                                {{else}}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="star-off" viewBox="0 0 24 24" fill="currentColor" role="presentation">
                                        <path d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path>
                                    </svg>
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="review-body">
                    <p>{{content}}</p>
                </div>
                {{#if image}}
                <div class="review-picture">
                    <img src="{{image}}"/>
                </div>
                {{/if}}
                <div class="review-footer">
                    <div class="review-profile">
                        <a href="/profile/{{author.user}}">
                            <img src="{{author.picture}}"/>
                        </a>
                        <div>
                            <a href="/profile/{{author.user}}">
                                <b>{{author.user}}</b>  <span class="verified-checkmark">{{#if_eq author.role ../data.id}}✔️{{/if_eq}}</span>
                            </a>
                            
                            <br/>{{#if_eq author.role ../data.id}}Establishment Owner {{else}}Condo Bro{{/if_eq}}
                        </div>
                    </div>
                    <div class="react-post">
                        <div class="icon-like">
                            <button type="button" class="fa fa-thumbs-up {{#if userLike.isLike}}clicked{{/if}}"></button>
                            <button type="button" class="fa fa-thumbs-down {{#if_eq userLike.isLike '0'}}clicked{{/if_eq}}"></button>
                        </div>
                        <span class="total-likes">{{totalLikes}} people liked</span> 
                    </div>
                </div>

                <div><hr/><h4>Comments:</h4></div>
                
                <form class="create-comment-form" method="post">
                    <div class="comment-container">
                        <textarea class="comment-textarea" placeholder="Write your comment here..."></textarea>
                        <button class="comment-button">Comment</button>
                    </div>
                </form>

                <div class="comments">
                {{#each comments}}
                    <div class="comment">
                        <div>
                            <a href="/profile/{{user.user}}"><img src="{{user.picture}}"/></a>
                        </div>
                        <div class="comment-right">
                            <div class="user-info">
                                <a href="/profile/{{user.user}}"><b>{{user.user}}</b></a> 
                                {{#if_eq user.role ../../data.id}}<span class="verified-checkmark">✔️</span>{{/if_eq}}
                                {{date}}
                                {{#if isEdited}}<i>Edited</i>{{/if}}
                            </div>
                            <div>
                                <p>{{content}}</p>
                            </div>
                        </div>
                        
                    </div> 
                {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>